.navbar{
    border-bottom: 2px solid rgb(56, 233, 56);;
}

body{
    padding-top: 160px;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    margin: 30px;
    
}

.button{
    border-radius: 30px;
    border-color: rgb(56, 233, 56);
}
.navbar ul li{
    margin-left: 8px;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: rgb(56, 233, 56);
}


.background{
    background-color: rgb(56, 233, 56);
    padding: 30px;
    
}
.button2{
    margin-left: 150px;
    margin-top: 20px;
    
}
.alignment{
    text-align: center;
}

.banner-image1{
    height: 250px;
}
.banner-image2{
    height: 340px;
}
.flex ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.flex ul li{
    padding: 10px;
}
form{
    padding: 80px;
    margin: 50px 300px;
    border-style: outset;
    background-color: white;
}
.background3{
    background-image: url(images/banner2\(1\).jpg);
    margin: 0px;
}